<div class="intro" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 50%), url(<%= image_path('test.jpg')%>);">
  <h1>My Classrooms</h1>
</div>

<div class="my-quizzes">
  <div class="container">
    <div class="row">
      <% @classrooms.each do |classroom| %>
        <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
          <div class="quizz_card shadow-z-1">
            <%= link_to classroom_path(classroom) do %>
            <div class="quizz_card_image" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('<%= image_path('students.jpg') %>')">
            </div>
            <%end%>
            <div class="details">
              <div class="quizz_card_name"><%= classroom.name%></div>
              <div class="shortcuts">
                <%= link_to do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
        <div class="quizz_card shadow-z-1">
          <div class="add_a_quizz">
            <i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="details quizz_card_name">Add a classroom</div>
        </div>
      </div>
    </div>
  </div>
</div>

