<div class="super-wrapper">
<h1 class="text-center">My Quizzes</h1>

<div class="action text-center">
  <button type="button" class="btn btn-success"><%= link_to "Create a Quizz", new_quizz_path, method: :get %></button>
  <button type="button" class="btn btn-success"><%= link_to "Share a Quizz", new_share_path, method: :get %></button>
  <button type="button" class="btn btn-success"><%= link_to "My Classrooms", classrooms_path, method: :get %></button>
</div>



<div class="container">
  <div class="row">
  <% @quizzs.each do |quizz| %>
    <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
      <div class="quizz_card shadow-z-1" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url('<%= cl_image_path quizz_photo_url(quizz), height: 300, width: 400, crop: :fill %>')">
        <div class="quizz_category"><%= quizz.subject.upcase  %></div>
        <div class="quizz_name text-center"><%= quizz.name  %></div>

        <p class="details"><%= link_to "see", quizz_path(quizz), method: :get %></p>
          <%= link_to quizzs_path do %>
            <i class="fa fa-trash-o"></i>
          <% end %>
          <%= link_to quizzs_path do %>
            <i class="fa fa-pencil"></i>
          <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
</div>

