<h1>My quizz</h1>
<%= link_to "Create a Quizz", new_quizz_path, method: :get %>
<%= link_to "Share a Quizz", new_share_path, method: :get %>

<% @quizzs.each do |quizz| %>
  <h3>SUBJECT: <%= quizz.subject.upcase  %></h3>
  <p>quizz: <%= quizz.name  %></p>
  <%= link_to "see", quizz_path(quizz), method: :get %>
<% end %>
