<% content_for(:body_class, "quizz-show") %>


<div class="body-edition">
  <div class="quizz-edition">
    <div class="quizz-picture" style="background-image: url('<%= cl_image_path quizz_photo_url(@quizz), height: 300, width: 400, crop: :fill %>')">
    </div>
    <div class="quizz-edition-titles">
      <h3><%= @quizz.name %></h3>
      <h5><%= @quizz.subject %></h5>
      <h6 class="card-total"><%=@quizz.cards.count %> cards</h6>

    </div>
    <div class="quizz-edition-btns">


         <a data-toggle="modal" class="btn btn-students-green" href="<%= new_quizz_card_path(@quizz) %>" data-target="#myModal2">

         Add a new card</a>

      <span class="btn-students-yel"><%= link_to "Save", quizzs_path %></span>


    </div>
    <div class="quizz-edition-shares">
      <h6>Shared to :</h6>
       <% @quizz.shares.each do |share| %>
       <div>
       <%=share.classroom.name %> on <%=share.created_at.strftime("%d %B %Y") %>
       </div>
       <% end %>
    </div>
  </div>

  <div class="cards-edition">
  <!-- <div class="avatar-card" style="background-image: url(<%= asset_path('add-card') %>);"></div> -->

  <% @quizz.cards.each_with_index do |card, i| %>
    <div class="saved-card text-center">
    <div class="card-position"><span class="cards-count"><%= i + 1 %>/<%=@quizz.cards.count %></span></div>
      <div class="saved-card-front">
         <p class="text-align"><strong><%= card.question %></strong></p>

      </div>
      <div class="saved-card-back text-align">
        <p><%= card.answer %></p>
      </div>
          <div class="details-cards">

          <a data-toggle="modal" href="<%= edit_card_path(card) %>" data-target="#myModal"> <i class="fa fa-pencil icons-cards"></i></a>
          <%= link_to card_path(card), method: :delete do %>
            <i class="fa fa-trash-o icons-cards"></i>
          <% end %>
    </div>
    </div>

    <% end %>

  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- <!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

