<h1>QUIZZ SHOW</h1>
<h2><%= @quizz.subject %></h2>
<h3><%= @quizz.name %></h3>

<%= link_to "Delete", quizz_path(@quizz), method: :delete %>
<%= link_to "Edit", edit_quizz_path(@quizz) %>
<%= link_to "God save the quizz", quizzs_path %>

<%= render "cards/index" %>
<%= render "cards/form" %>
