<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>

    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  </head>
  <body>
    <%= render 'shared/navbar' unless @disable_nav %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' unless @disable_nav %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>


